@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: theme("colors.white");
  --background-accent: theme("colors.gray.200");
}

.dark {
  --background-primary: theme("colors.gray.900");
  --background-accent: theme("colors.gray.700");
}

body {
  background-color: var(--background-primary);
}

.nav {
  background-color: var(--background-accent);
}
